.bootcamp{
  background-color: #F8F8FF;
  padding: 80px 0;
  &__subtitle{
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #23283B;
    flex: none;
    order: 1;
    flex-grow: 0;
    text-align: center;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 40px;
      height: 1px;
      background: #E6514A;
      top: 8px;
      left: 42%;
    }
  }
}
.review__tabs-content {
  display: none; /* по умолчанию прячем все блоки */
  background-color: white;
  padding: 48px 130px;
  box-shadow: 0 10px 40px rgba(0, 11, 68, 0.22);
  border-radius: 10px;
  margin-top: 63px;
}
.review__tabs-content_active {
  display: block; /* по умолчанию показываем нужный блок */
}