.footer{
  background: #3035C4;
  &__row{
    display: flex;
    padding: 60px 0;
  }
  &__card{
    margin-right: 100px;
  }
  &__qwe{
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
    margin-top: 25px;
  }
  &__list{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-right: 63px;
  }
  &__item{
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  &__title{
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 12px;
  }
  &__subtitle{
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 24px;
  }
  &__qwerty{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    &-sub{
      font-family: Montserrat,sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
      flex: none;
      order: 1;
      flex-grow: 0;
      span{
        margin-right: 10px  ;
      }
    }
  }
  &__main{
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
    border-top: 1px solid white;
    &-list{
      display: flex;
      column-gap: 25px;
    }
  }
  &__info{
    display: flex;
  }
}
p{
  font-family: Montserrat,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
  span{
    margin-left: 24px;
  }
}